.root{
/* Base Colors - Light Theme */
    -fx-background: #FDF8F2;
    -fx-foreground: #3B2A25;

    -fx-primary: #C35031;
    -fx-primary-fg: #FDF9F5;

    -fx-secondary: #6B844E;
    -fx-secondary-fg: #FDF9F5;

    -fx-card: #F2EBE0;
    -fx-cell-border-color: #D6CEC2;

    -fx-accent: #E58535;

    -fx-alignment: center;

    /* Font Definitions */
    -fx-font-family: "Nunito";

    /* Set the actual background of the game */
    -fx-background-color: -fx-background;
}

.heading {
    -fx-font-family: "Playfair Display";
    -fx-font-weight: bold;
    -fx-text-fill: -fx-foreground;
}

.button {
    -fx-background-color: -fx-primary; /* Primary color */
    -fx-text-fill: #ffffff;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-background-radius: 10;
    -fx-padding: 8 20 8 20;
    -fx-cursor: hand;
}

.button:hover{
    -fx-opacity: 0.7;
    -fx-cursor: hand;
}


.o-cell{
    -fx-text-fill: #6a844e;
}

.x-cell{
    -fx-text-fill: -fx-primary;
}

/* Grid buttons (X/O cells) */
.grid-pane .button {
    -fx-min-width: 100px;
    -fx-min-height: 100px;
    -fx-font-size: 36px;
    -fx-font-weight: bold;
    -fx-background-color:-fx-card;
    -fx-border-color: -fx-cell-border-color;
    -fx-border-width: 2px;
    -fx-background-radius: 15;
    -fx-border-radius: 15;
    /*-fx-text-fill: #3b2a25;*/
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.05), 4,0,0,2);
}

.status-label{
    -fx-text-fill: -fx-foreground;
    -fx-font-size: 18px;
    -fx-padding: 10 0 20 0;
}
/*.card-pane {
    -fx-background-color: -fx-card;
    -fx-background-radius: 12px;
    -fx-border-color: -fx-border-color;
    -fx-border-width: 1px;
    -fx-border-radius: 12px;
}*/